* text=auto

/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.scripts           export-ignore
/data               export-ignore
/tests              export-ignore
/phpunit.xml.dist   export-ignore
