<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="PhpLatex Test Suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./library</directory>
        </whitelist>
    </filter>
</phpunit>
