name: build

on: [push, pull_request]

jobs:
    run:
        runs-on: ${{ matrix.operating-system }}

        strategy:
            fail-fast: false
            matrix:
                operating-system: ['ubuntu-latest']
                php-versions:
                    - 8.4
                    - 8.3
                    - 8.2
                    - 8.1
                    - '8.0'
                    - 7.4

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-versions }}
                  extensions: mbstring, intl, dom
                  ini-values: max_execution_time=0
                  coverage: xdebug

            - name: Install dependencies
              run: |
                composer install

            - name: Run tests
              run: |
                mkdir -p build/logs
                COMPOSER_PROCESS_TIMEOUT=0 composer test
